@using CrudMvc.Application.DTO
@model CreateProductDTO

@{
	ViewData["Title"] = "New Product";
}

<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">New Product</h2>
		<form method="post" enctype="multipart/form-data">
			@Html.AntiForgeryToken()

			<partial name="_ProductFormPartial" />
		</form>
	</div>
</div>
