@using CrudMvc.Application.DTO
@model CreateProductDTO

@{
	ViewData["Title"] = "Edit Product";
}

<div class="row">
	<div class="col-md-8 mx-auto rounded border p-3">
		<h2 class="text-center mb-5">Edit Product</h2>
		<form method="post" enctype="multipart/form-data">
			@Html.AntiForgeryToken()

			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Id</label>
				<div class="col-sm-8">
					<input class="form-control-plaintext" readonly value="@ViewData["ProductId"]" />
				</div>
			</div>

			<partial name="_ProductFormPartial" />
		</form>
	</div>
</div>
